body{
    background:#E7E7E7;
    overflow-x: hidden
}
.my-header{
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    z-index: 1000;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.am-header-default{
    background:#1C82D2;
}
/* 顶部的分割符号 */
.separate {
    color: #d7d8d9;
    margin: 0 14px;
    font-size: 20px;
}
.main{
    height: 100%;
    padding-bottom:5rem;
}
/* 防止640以上屏幕导致标题被下拉菜单遮挡住 */
@media screen and (max-width:640px){
    .main{
        padding-top: 5rem;
    }
}
@media screen and (min-width:641px){
    .main{
        padding-top: 10rem;
    }
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #FAFBFF;
    /* background: #0087db; */
    text-align: center;
    border-top: 1px solid #ececec;
}
/* 设置回到顶部 */
.am-gotop-fixed .am-gotop-icon {
    border-radius: 1.5rem;
}
.am-gotop-fixed {
    bottom: 50px;
}