body{
    background: #f3f3f3;
}
.my-container{
    position: absolute;
    margin: auto;
    top: 100px;
    left: 0;
    right: 0;
    background: #fff;
    padding: 50px 20px;
}
@media screen and (max-width: 768px){
    .my-container{
        padding:10px;
    }
}