body{
    background: transparent url("../images/ep_naturalblack.png") repeat fixed center center;
}
.horizontal-vertical{
    margin:auto;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
}
label{
    color:#fff;
}